<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://neutralpress.mypinata.cloud https://cloud.typography.com http://localhost:8080 'unsafe-inline'; img-src 'self' data: https://neutralpress.mypinata.cloud; font-src 'self' https://cloud.typography.com data:">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S3ntiment: privacy by design</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Oswald:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Martian+Mono:wght@100..800&family=Share+Tech+Mono&display=swap" rel="stylesheet">

    <style id="custom-css"></style>
    <script>fetch("insert_stylesheet.css").then(response => response.text()).then(css => {document.getElementById("custom-css").textContent = css;});</script>
</head>     

<head>
 
</head>