<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://neutralpress.mypinata.cloud https://cloud.typography.com https://fonts.googleapis.com http://localhost:8080 'unsafe-inline'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://neutralpress.mypinata.cloud https://cloud.typography.com; img-src 'self' data: https://neutralpress.mypinata.cloud; font-src 'self' https://fonts.gstatic.com https://cloud.typography.com data:">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S3ntiment: privacy by design</title>
    <link rel="stylesheet" href="/assets/cs/styles.css">
</head>