<section id="hero" class="container centered">
     
        <article class="container container-large centered">
                <h2>{{this.title}}</h2>
                <p><span>{{this.content}}</span></p>
                <button class="btn-primary">Neem contact op</button>
        </article>
</section>