<section id="hero" class="container centered">
        {{json this}}
        <article class="container container-large centered">
                <h2>{{this.title}}</h2>
                <p><span>S3ntiment is een enquêteplatform waar niemand, ook wij niet, bij individuele antwoorden kan. Geen uitzonderingen. Geen achterdeurtjes. Alleen eerlijke antwoorden en de inzichten die je nodig hebt.</span></p>
                <button class="btn-primary">Neem contact op</button>
        </article>
</section>