@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Lora-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/Lora-Italic.ttf') format("truetype");
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Lora-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  src: url('/assets/fonts/CormorantGaramond-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Oswald";
  font-weight: 600;
  src: url('/assets/fonts/Oswald-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: "Azeret Mono";
  font-weight: 400;
  src: url('/assets/fonts/AzeretMono-Regular.ttf') format("truetype");
}

