@use '../styleguide/colours' as *;
@use '../styleguide/breakpoints' as *;

header {

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: $warm-gray-lightest;
    // border-bottom: 1px solid $warm-gray-light;
    z-index: 99;

    svg#owl {

        display: none;
        position: absolute;
        height: 6rem;
        width: auto;
        right: 2rem;
        left: auto;
        top: 8rem;


        path  {
            fill: white;
        }

        @include breakpoint('sm') {

            display: block;

        }

        @include breakpoint('xxl') {
            top: 1rem;
            left: 1.5rem;
            height: 4rem;

            path  {
                fill: $teal-darkest;
            }
        }
    }

    .container {

        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        > a {
            text-decoration: none;
            border: none;
        }

    }

    nav {

        display: none;

        @include breakpoint('sm') {

            display: block;
        }

        ul li {
            padding: 0 .75rem;
        }
    }

    .lang-switcher {

        display: flex;
        flex-direction: row;
        align-items: stretch;
        border: 1px solid  $gray-black;;
        margin-left: 1rem;
        flex-shrink: 0;

        .lang-cell {

            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            font-size: 0.75rem;
            font-weight: bold;
            text-decoration: none;
            background: $warm-gray-lightest;
            color:  $gray-black;
            font-family: "Azeret Mono", monospace;
            font-weight: 400;

            &:not(:last-child) {
                border-right: 1px solid  $gray-black;;
            }

            &.active {
                background: $gray-black;
                color: $warm-gray-lightest;
            }
        }
    }

    

    h1 {

        color:  $gray-black;
        margin: 0.75rem;

        
        span {
            color: $teal-darkest;
        }
    }
}