@use '../styleguide/colours' as *;
@use '../styleguide/typography' as *;
@use '../basics/layout' as *;

section.aside {
    
    @include container;
    @include container-small;
    background: $warm-gray-light;
    padding: 1.5rem;
    display: inline-block;
    margin: 1.5rem auto 3rem auto;

    h3 {
        @include heading-h4;
        font-size: 1.125rem;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

}

section.summary {
    
    @include container;
    @include container-small;
    background: $teal-darkest;
    color: $gray-lightest;
    padding: 1.5rem;
    display: inline-block;
    margin: 1.5rem auto 3rem auto;

    h3 {
        @include heading-h3;
    }

    ul { 
        list-style-type: circle;
        margin-left: 0; 
    }

    p:last-of-type {
        margin-bottom: 0;
    }

}