
@use '../styleguide/typography' as *;
@use '../styleguide/colours' as *;
@use '../basics/layout' as *;

#page {

    margin-top: 5rem;
    width: 100%;
    align-items: center;

    article.page {

        display: flex;
        align-items: center;
        flex-direction: column;

        p {
            font-size: 1.125rem;
            line-height: 1.425;
        }

        > p {
            @include container;
            @include container-smaller;

            &:first-of-type {
                font-weight: 700;
                margin-bottom: 4.5rem;
            }
        }

        > h3 {

            @include container;
            @include container-smaller;
            @include heading-h3;
            color: $teal-darkest;
            font-size: 1.6rem;
            margin-bottom: .75rem;  
        }


        > h4 {
            @include container;
            @include container-smaller;
            @include heading-h4;
        }

        a {
            color: $teal-darkest;
            text-decoration: none;
            border-bottom: 1px solid $teal-medium;
        }

        > a {
            @include container;
            @include container-smaller;
        }
    }

    #page-header {

        @include container;
        @include container-smaller;
        margin-top: 6rem;
        

        .tag {
            @include heading-h2;
            margin-bottom: .25rem;
            font-family: 'Azeret Mono', monospace;
        }

        h2 {
            @include heading-h1;
            color: $teal-darkest;
            margin-bottom: 1.5rem;
            font-size: 2.6rem;
            line-height: 1.175;
            text-transform: none;
            letter-spacing: 0;
        }
    }

    #main-image {

        margin: 3rem auto 6rem auto; 
        background-color: $warm-gray-lightest;

        img {
            width: 100%;
            height: auto;
        }
    }

    #summary {

        @include container;
        @include container-smaller;
        margin: 3rem auto;
        padding: 1.5rem;

        h3 {

            font-family: "Azeret Mono", monospace;
            margin-bottom: 1.5rem;
            font-size: 1rem;
            color: black;
            text-transform: uppercase;
            letter-spacing: .5px;
            font-weight: 400;

        }

        ul {
            background: $teal-darkest;
            flood-color: white;
            margin:auto;
            padding: 3rem 1.5rem 1.5rem 1.5rem; 
            list-style-type: disc;
            width: calc(100% - 3rem);

            li {

                margin-bottom: .75rem;
                color: white;
                font-size: 1.125rem;
            }
        }

        button {
            align-self: flex-start;
        }
    }

    #links {

        margin: 3rem auto;
    }
}